//mixin ------------------------

//@example	@include gpu();
@mixin gpu() {
	transform:translate3d(0px,0px,0px);
    // or
    // transform: rotate(0.0001deg);
}

//@example	@include userSelectNone();
@mixin userSelectNone() {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

//@example  @include center();
@mixin center($x:-50%, $y:-50%, $scale:1, $rotate:0) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX($x) translateY($y) scale($scale) rotate($rotate);
}

//@example  @include fitcenter();
@mixin fitcenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

//@example	@include fontsize(13);
@mixin fontsize($size: 24, $base: 10) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}

//@example	@include fontvw(13);
@mixin fontvw($size: 24, $base: 10) {
	font-size: ($size / $base * .5) * 1rem;
	font-size: $size / $spWidth * 100vw;
}

//@example	@include indent();
@mixin indent() {
	text-indent: -1em;
	padding-left: 1em;
}

//@example	@include tracking();
@mixin tracking($tracking) {
  letter-spacing: ($tracking / 1000 ) + em;
}

@function vw($px, $width: $spWidth) {
  @return (($px / $width) * 100) + vw;
}

@function rem($px) {
  @return ($px / 10) + rem;
}

@mixin fontvwPc($size: 24, $base: 10) {
	font-size: ($size / $base * 0.5) * 1rem;
	font-size: $size / 1440 * 100vw;
  }
  
  @function vwPc($px) {
	@return (($px / 1440) * 100) + vw;
  }