@charset "utf-8";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

* {
  cursor:none !important;
}

// a {
//   cursor: url('/img/common/ketchup_pointer.png'), auto;
// }

.parallax {
  will-change: transform;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  will-change: transform;
  background-color: $red;
  pointer-events: none;
  &.start {
    &::before {
      top: -30vh;
    }
  }
  &.end {
    &::before {
      bottom: -30vh;
    }
  }
  &::before {
    position: absolute;
    left: 50%;
    content: '';
    display: block;
    height: 150vw;
    width: 150vw;
    transform: translate3d(-50%, 0, 0);
    border-radius: 40%;
    background-color: $red;
    animation: loadAnim 3s linear infinite;
  }
}

html.wf-active {
  body {
    opacity: 1 !important;
  }
}

.dark-mode {
  background-color: $red;
  #cursor {
    background-image: url(/img/common/ketchup_pointer_default_white.svg);
  }
  main#contact form input, main#contact form textarea {
    background-color: $red;
  }
  main#about section#top .ruler .company .flex {
    border-color: $white;
    &:nth-child(1) {
      border-color: $white;
    }
  }
  #footer #switcher .switcher.bg-white {
    border-color: $white;
  }
  .privacy-screen {
    &::before {
      background-color: $white;
    }
  }
  .red {
    color: $white;
  }
  
  .white {
    color: $red;
  }
  
  .bg-red {
    background-color: $white;
    &.stroke {
      background-color: transparent;
      * {
        stroke: $white;
      }
    }
    &.fill {
      background-color: transparent;
      * {
        fill: $white;
      }
    }
  }
  
  .bg-white {
    background-color: $red;
    &.stroke {
      background-color: transparent;
      * {
        stroke: $red;
      }
    }
    &.fill {
      background-color: transparent;
      * {
        fill: $red;
      }
    }
  }
}

body {
  font-weight: normal;
  overscroll-behavior-y: none;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  ::selection {
    color: $white;
    background-color: $red;
  }
}

.italic {
  font-style: italic;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.roc-grotesk {
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  &.light {
    font-weight: 300;
  }
  &.medium {
    font-weight: 400;
  }
}

.roc-grotesk-wide {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 500;
}

.borax {
  font-family: borax-variable, sans-serif;
}

.red {
  color: $red;
}

.white {
  color: $white;
}

.bg-red {
  background-color: $red;
  &.stroke {
    background-color: transparent;
    * {
      stroke: $red;
    }
  }
  &.fill {
    background-color: transparent;
    * {
     fill: $red;
    }
  }
}

.bg-white {
  background-color: $white;
  &.stroke {
    background-color: transparent;
    * {
     stroke: $white;
    }
  }
  &.fill {
    background-color: transparent;
    * {
      fill: $white;
    }
  }
}

.rocextrawide {
  font-family: $RocExtraWide;
  font-weight: 600;
  font-style: normal;
  @include tracking(111);
}

.rocextrawideLight {
  font-family: $RocExtraWide;
  font-weight: 300;
  font-style: normal;
  @include tracking(111);
}

.roc {
  font-family: $Roc;
  font-weight: 600;
}

.arrow {
  &.white {
    * {
      fill: $white;
    }
  }
}

.transition-enter {
  opacity: 0;
}

.transitione-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.transition-exit {
  opacity: 1;
  opacity: 0;
}

.transition-exit-active {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // transform: translate3d(-50%, 0, 0);
  opacity: 0;
  transition: opacity 500ms;
}

.bold {
  font-weight: bold;
}

#root {
  font-feature-settings: "palt";
  font-family: "平成角ゴシック", monospace;
}

#container {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  &.loaded {
    opacity: 1;
  }
  .anim {
    &.normal {
      opacity: 0;
      // transform: translate3d(0, 30px, 0);
      will-change: transform;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
      &.active {
        opacity: 1;
        // transform: translate3d(0, 0, 0);
      }
    }
  }
  .en {
    font-family: $Helvetica;
    font-style: italic;
    text-transform: uppercase;
    @include tracking(100);
  }
}
.page-template,
.archive {
  background-color: $lightGray;
  &.home {
    background-color: initial;
  }
}

.wrapper {
  position: relative;
}

/* starting ENTER animation */
.transition-enter {
  position: relative;
  opacity: 0;
  z-index: 1;
}

/* ending ENTER animation */
.transition-enter-active {
  position: relative;
  opacity: 1;
  z-index: 1;
  transition: opacity 200ms;
}

/* starting EXIT animation */
.transition-exit {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1;
}

/* ending EXIT animation */
.transition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@media screen and (max-width: 749px) {
#cursor {
  display: none;
}

#gif {
  @include center();
  position: fixed;
  transform: translate3d(-50%, -50%, 0) scale(0);
  width: vw(200);
  z-index: 12;
}
  .privacy-screen {
    svg {
      position: absolute;
      width: 100%;
      left: 0;
    }
  }
  .btn {
    position: relative;
    @include fitcenter();
    height: vw(120);
  }
  .text-center {
    text-align: center;
  }
  .mix-text {
    position: relative;
    display: inline-block;
    z-index: 1;
    &:active {
      .mix-text-line {
        width: 100%;
      }
      .icon svg {
        transform: translate3d(vw(16), 0, 0);
      }
    }
    &__inner {
      position: relative;
      display: inline-flex;
      align-items: end;
      justify-content: center;
      line-height: .4;
    }
    &-line {
      position: absolute;
      bottom: vw(-12);
      left: 50%;
      content: '';
      height: vw(2);
      width: 0%;
      will-change: width;
      transition: width .5s $slide;
      transform: translate3d(-50%, 0, 0);
    }
    .roc-grotesk-wide {
      @include fontvw(16);
      // @include fontvwPc(16);
    }
    .borax {
      margin-left: vw(8);
      @include fontvw(22);
      &.no-m {
        margin-left: 0;
      }
    }
    .icon {
      position: relative;
      top: vw(4);
      padding-right: vw(16);
      margin-left: vw(16);
      box-sizing: content-box;
      width: vw(24);
      svg {
        position: relative;
        height: vw(24);
        width: 100%;
        transition: transform .25s $slide;
      }
    }
  } 
  .ruler {
    position: relative;
    margin: 0 auto;
    width: vw(350);
  }
  .btn-full {
    position: relative;
    &:active {
      .mix-text {
        color: $white;
        transition: color .25s $slide;
        .icon svg {
          transform: translate3d(vw(14), 0, 0);
          transition: transform .25s $slide;
          * {
            stroke: $white;
            transition: stroke .25s $slide;
          }
        }
      }
      .cover {
        &.left, &.right {
          .cover__inner {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
    .mix-text {
      will-change: color;
      transition: color .25s $slide .25s;
      .icon svg {
        position: relative;
        will-change: transform;
        transition: transform .25s $slide .25s;
        * {
          will-change: stroke;
          transition: stroke .25s $slide .25s;
        }
      }
    }
    .cover {
      position: absolute;
      height: 100%;
      width: 50%;
      overflow: hidden;
      &__inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        will-change: transform;
        transition: transform .5s $slide;
      }
      &.left {
        left: 0;
        .cover__inner {
          transform: translate3d(101%, 0, 0);
        }
      }
      &.right {
        right: 0;
        .cover__inner {
          transform: translate3d(-101%, 0, 0);
        }
      }
    }  
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &.show {
      nav {
        opacity: 1;
        visibility: visible;
      }
    }
    &.hide {
      h1 {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transform: translate3d(0, vwPc(-10), 0);
      }
    }
    .inner {
      position: relative;
      margin: 0 auto;
      width: vw(350);
    }
    h1 {
      position: absolute;
      top: vw(20);
      left: 0;
      width: vw(100);
      will-change: clip-path, transform;
      transform: translate3d(0, 0, 0);
      transition: transform .5s $ziwaziwa, clip-path .5s $slide;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      // transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      .logo {
        path {
          // fill: $red;
        }
      }
    }
    .menu-trigger {
      position: absolute;
      top: vw(16);
      right: 0;
      width: vw(40);
      .text-wrapper {
        @include center();
        min-width: 100%;
        text-align: center;
        overflow: hidden;
        p {
          &.roc-grotesk-wide {
            @include fontvw(10);
          }
          &.borax {
            @include fontvw(12);
          }
          &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate3d(0, 100%, 0);
          }
        }
      }
    }
    nav {
      position: fixed;
      @include fitcenter();
      top: 0;
      left: 0;
      height: calc(var(--vh, 1vh) * 100);
      width: 100%;
      background-color: $red;
      opacity: 0;
      visibility: hidden;
      ul {
        margin: 0 auto;
        width: vw(350);
        li {
          position: relative;
          height: vw(87);
          line-height: vw(87);
          padding-left: vw(20);
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: rem(1) solid $white;
          &:first-child {
            border-top: rem(1) solid $white;
          }
          .flex {
            height: 100%;
            width: 100%;
          }
          // &:active,
          // &.active {
          //   .text {
          //     &-wrap {
          //       &:nth-child(1) {
          //         transform: translate3d(0, -100%, 0);
          //       }
          //       &:nth-child(2) span {
          //         transform: translate3d(0, 0%, 0);
          //         @for $i from 1 through 10 {
          //           &:nth-child(#{$i}) {
          //             transition: transform .5s
          //                   $easeInOutBack
          //                   #{$i *
          //                   0.1}s;
          //           }
          //         }
          //       }
          //     }
          //   }
          //   .ketchup {
          //     svg {
          //       transform: scale(1);
          //     }
          //   }
          // }
          .text {
            position: relative;
            display: block;
            // @include fontvwPc(10);
            overflow: hidden;
            pointer-events: none;
            &-wrap {
              position: relative;
              display: block;
              // height: rem(12);
              color: $white;
              z-index: 1;
              &:nth-child(1) {
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                @include fontvw(32);
                transition: transform 0.5s $zoom;
                span {
                  position: relative;
                  transform: translate3d(0, 101%, 0);
                      transition: transform .5s
                            $easeInOutBack;
                }
              }
              &:nth-child(2) {
                position: relative;
                @include fontvw(32);
                transition: transform 0.5s $easeInOutBack;
                font-style: italic;
              }
            }
          }
          .ketchup {
            margin-right: vw(6);
            height: 100%;
            width: vw(24);
            svg {
              position: relative;
              height: 100%;
              width: 100%;
              transform: scale(1);
              will-change: transform;
              transition: transform .5s $zoom;
              * {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
  #footer {
    position: relative;
    overflow: hidden;
    will-change: transform;
    .ruler {
      padding: vw(32) 0 vw(24);
    }
    #switcher {
      // position: absolute;
      // right: 0;
      // top: vwPc(24);
      margin-bottom: vw(64);
      .switcher {
        @include fitcenter();
        height: vw(40);
        width: vw(40);
        box-sizing: border-box;
        border-radius: 100%;
        margin-right: vw(8);
        &:last-child {
          margin-right: 0;
        }
        &.light {
        }
        &.dark {
          // background-color: $red;
        }
        &.bg-white {
          border: rem(1) solid $red;
        }
        &.bg-red {
          border: rem(1) solid $white;
        }
        svg {
          width: vw(17);
        }
      }
    }
    .copy,
    .address {
      @include fontvw(14);
      line-height: (16.8 / 14);
    }
    .address{
      margin-bottom: vw(40);
    }
  }
  .section {
    &-line {
      position: relative;
      left: 50%;
      height: rem(1);
      width: 100vw;
      transform: translate3d(-50%, 0, 0);
      &.absolute {
        margin: 0 !important;
      }
      &.top {
        top: 0;
      }
      &.bottom {
        bottom: 0;
      }
    }
    &-title {
      &.fixed {
        top: vw(102);
        right: vw(20);
        @include fontvw(22);
        z-index: 1;
      }
    }
    &#work-together {
      .ruler {
        padding: vw(80) 0; 
        .ketchup-icon {
          display: block;
          margin: vw(90) auto vw(40);
          width: vw(64);
          svg {
            position: relative;
            animation: scaleIcon 3s ease-in-out infinite;
            // animation: scaleIcon 3s $easeInOutCubic infinite;
          }
        }
      }
      .section {
        &-title {
          margin-bottom: vw(32);
          @include fontvw(56);
          line-height: 1;
          text-align: center;
        }
      }
    }
  }
  main {
    // min-height: 100vh;
    .works-wrapper {
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      ul {
        flex-wrap: wrap;
        li {
          position: relative;
          width: 100%;
          will-change: transform, opacity;
          overflow: hidden;
          .slide-text {
            position: relative;
            display: block;
            overflow: hidden;
            color: $black;
            .inner-slide {
              position: absolute;
              top: 0;
              left: 0;
            padding: vw(24) 0 vw(64) 0;
              height: 100%;
              width: 100%;
              line-height: 1;
              overflow: hidden;
              transform: translate3d(-101%, 0, 0);
              will-change: transform;
              transition: transform .5s $slide;
              .inner-slide-slide {
                display: block;
                height: 100%;
                transform: translate3d(101%, 0, 0);
                text-decoration: none;
                will-change: transform;
                transition: transform .5s $slide;
              }
            }
          }
          &:active {
            .slide-text {
              .inner-slide {
                transform: translateZ(0);
                .inner-slide-slide {
                  transform: translateZ(0);
                }
              }
            }
            .arrow {
              transform: translate3d(vw(14), 0, 0);
              transition: transform .25s $slide .25s;
            }
            .img {
              &::before {
                // opacity: 1;
              }
              img {
                transform: scale(1.05) !important;
              }
            }
          }
          .img-wrap {
            position: relative;
            overflow: hidden;
            &::before {
              content: "";
              display: block;
              padding-top: 52.22222222222223%;
            }
          }
          .img {
            @include center();
            height: 100%;
            width: 100%;
            transform: translate3d(-50%, -50%, 0) scale(1.1);
            will-change: transform;
            transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
            &::before {
              @include center();
              height: 101%;
              width: 101%;
              content: "";
              background-color: $red;
              mix-blend-mode: color;
              opacity: 0;
              transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              z-index: 1;
            }
            &.show {
              transform: translate3d(-50%, -50%, 0) scale(1);
              .cover {
                transform: translate3d(0, -105%, 0);
                transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
              }
            }
            img {
              object-fit: cover !important;
              // opacity: 0;
              transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            }
            img[data-load="done"] {
              opacity: 1;
            }
            .cover {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              content: "";
              background-color: $red;
              transform: translate3d(0, 0, 0);
              transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              will-change: transform;
              z-index: 1;
              display: none;
            }
            span,
            img {
              position: relative !important;
              width: 100% !important;
              height: 100% !important;
            }
          }
          a {
            // color: $black;
          }
          .detail {
            padding: vw(24) 0 vw(64) 0;
            &-above {
              position: relative;
              padding-left: vw(20);
              padding-right: vw(20);
              .index {
                position: relative;
                display: block;
                margin-bottom: vw(8);
                @include fontvw(8);
              }
              .title {
                margin-bottom: vw(16);
                @include fontvw(16);
                line-height: (19.2 / 16);
              }
              .arrow {
                position: absolute;
                top: 0;
                right: vw(20);
                width: vw(16);
                will-change: transform;
                transition: transform .25s $slide;
                svg {
                  width: 100%;
                }
              }
            }
            .categories {
              padding-left: vw(20);
              @include fontvw(10);
            }
          }
        }
      }
    }
    &.common {
      padding-top: vw(165);
    }
    &#home {
      section {
        &#top {
          box-sizing: border-box;
          .ruler {
            max-width: initial;
            .vh {
              position: relative;
              padding-top: vw(120);
              height: vw(682);
              box-sizing: border-box;
            }
            .logo {
              // @include center();
              // margin: 0 auto;
              width: vw(350);
              // width: 100%;
              will-change: transform;
              img {
                @include center();
                height: 100%;
                width: 100%;
                clip-path: url(#logo);
                display: none;
              }
              svg {
                // opacity: 0;
                display: block;
                // visibility: hidden;
              }
            }
            .mix-text.vertical {
              bottom: vw(150);
              right: 0; 
              writing-mode: vertical-rl;
              .roc-grotesk-wide {
                @include fontvw(12);
              }
              .borax {
                margin-top: vw(4);
                margin-left: 0;
                @include fontvw(24);
              }
              .triangle {
                margin-top: vw(8);
                // margin-top: vwPc(8);
                span {
                  margin-bottom: vw(6);
                  // margin-bottom: vwPc(6);
                  display: block;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-right: vw(5) solid transparent;
                  border-left: vw(5) solid transparent;
                  border-top: vw(6) solid $red;
                  border-bottom: 0;
                  opacity: 0;
                  &:nth-child(1) {
                    animation: scrollIcon 2s steps(1) infinite;
                  }
                  &:nth-child(2) {
                    animation: scrollIcon 2s steps(1) infinite .25s;
                  }
                  &:nth-child(3) {
                    animation: scrollIcon 2s steps(1) infinite .5s;
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
            .est {
              top: vw(387);
              left: 0;
              .roc-grotesk {
                margin-right: vw(8);
                @include fontvw(16)
              }
              .borax {
                @include fontvw(32)
              }
            }
            .slogan {
              position: sticky;
              top: 0;
              // transform: translate3d(0, vwPc(-650), 0);
              width: vw(240);
              // width: vwPc(780);
              padding-top: vw(60);
              // @include fontvwPc(52);
              // line-height: (62.4 / 52);
              // mix-blend-mode: difference;
              mix-blend-mode: screen;
              will-change: transform;
              // svg {
              //   display: block;
              //   width: 100%;
              // }
            }
          }
        }
        &#works {
          padding-top: vw(120);
          .section {
            &-title {
              padding-bottom: vw(12);
              .roc-grotesk {
                margin-right: vw(8);
                @include fontvw(16);
              }
              .borax {
                @include fontvw(32);
              }
            }
            &-line {
              position: relative;
              margin-bottom: vw(24);
              left: 50%;
              width: 100vw;
              transform: translate3d(-50%, 0, 0);
            }
            // .btn {
            //   position: absolute;
            //   bottom: vwPc(-12);
            //   left: 50%;
            //   content: '';
            //   height: vwPc(2);
            //   width: 0%;
            //   will-change: width;
            //   transition: width .5s $slide;
            //   transform: translate3d(-50%, 0, 0);
            // }
          }
        }
      }
      .btn {
        margin: 0 auto;
        &.none {
          visibility: hidden !important;
          height: 0 !important;
        }
      }
    }
    &#works {
      padding-top: vw(140);
    }
    &#about {
      section {
        &#top {
          padding-top: vw(100);
          .ruler {
            .img {
              position: relative;
              margin: 0 auto vw(64);
              width: vw(350);
              div {
                position: absolute;
                width: 100%;
                &.lamp {
                  // top: vwPc(-500);
                  top: 0;
                  transform: translate3d(0, vw(-700), 0);
                  left: 0;
                  z-index: 1;
                  img {
                    &#light {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      opacity: 0;
                      z-index: -1;
                    }
                  }
                }
                &.bg {
                  opacity: 0;
                  @include center();
                }
                &.team {
                  opacity: 0;
                  transform: translate3d(0, 0, 0);
                  position: relative;
                }
              }
            }
            .section-text {
              position: relative;
              margin-bottom: vw(80);
              @include fontvw(14);
              line-height: (25.2 / 14);
              text-align: center;
            }
            .company {
              margin: 0 auto;
              width: vw(350);
              .flex {
                padding: vw(32) 0;
                border-bottom: rem(1) solid $red;
                &:first-child {
                  border-top: rem(1) solid $red;
                }
                p {
                  @include fontvw(14);
                  line-height: (21 / 14);
                  &:nth-child(1) {
                    margin-bottom: vw(16);
                  }
                  // &:nth-child(2) {
                  //   width: calc( 100% - vwPc(225) );
                  // }
                }
              }
            }
          }
        }
      }
    }
    &#work {
      section {
        &#top {
          .ruler {
            .keyv-wrap {
              position: relative;
              left: 50%;
              transform: translate3d(-50%, 0, 0);
              margin: 0 auto vw(24);
              width: 100vw;
            }
          }
          .title {
            margin-bottom: vw(16);
            h2 {
              @include fontvw(16);
              line-height: (20.16 / 16);
            }
          }
          .detail {
            width: 100%;
            margin: 0 auto vw(64);
            .categories {
              position: relative;
              margin-bottom: vw(40);
              &.no-url {
                padding-right: 0;
              }
              p {
                @include fontvw(12);
              }
            }
            .client {
              display: flex;
              p {
                &:nth-child(1) {
                  margin-right: vw(8);
                  @include fontvw(14);
                }
                &:nth-child(2) {
                  @include fontvw(10);
                }
              }
            }
            .mix-text {
              margin-top: vwPc(40);
            }
          }
        }
      }
      .keyv-wrap {
        position: relative;
        margin-bottom: rem(22);
        // opacity: 0;
        overflow: hidden;
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 1s,
          transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
        &.active {
          opacity: 1;
          .cover {
            transform: translate3d(0, -105%, 0);
          }
          .img img {
            opacity: 1;
            filter: blur(rem(0));
            transform: scale(1);
          }
        }
        .cover {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          content: "";
          background-color: $red;
          transform: translate3d(0, 0, 0);
          transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
          will-change: transform;
          z-index: 1;
          display: none;
        }
        .img {
          position: relative;
          picture {
            height: 100%;
            width: 100%;
          }
          img {
            opacity: 0;
            transform: scale(1.05);
            filter: blur(rem(10));
            transition: opacity 1s $slide, transform 1s $slide, filter 1s $slide ;
            will-change: transform, opacity, filter;
          }
          img[data-load="done"] {
            opacity: 1;
          }
        }
      }
      .gallery {
        margin: 0 auto;
        width: vw(350);
        .column {
          position: relative;
          margin-bottom: 2.803738317757009%;
          &.double {
            .img {
              // width: 48.598130841121495%;
              margin-bottom: 2.803738317757009%;
            }
          }
          &.triple {
            .img {
              // width: 48.598130841121495%;
              margin-bottom: 2.803738317757009%;
            }
          }
        }
        &.video {
          position: relative;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          width: 100vw;
        }
        .img {
          position: relative;
          overflow: hidden;
          opacity: 0;
          transform: scale(1.05);
          filter: blur(rem(10));
          transition: opacity 1s $slide, transform 1s $slide, filter 1s $slide ;
          will-change: transform, opacity, filter;
          &.active {
            opacity: 1;
            filter: blur(0);
            transform: scale(1);
          }
        }
        video {
          width: 100%;
          display: block;
        }
      }
      .btn-full {
        margin-top: 2.803738317757009%;
      }
    }
    &#contact {
      section {
        &#top {
          padding-bottom: vw(80);
        }
      }
      .thank-you {
        margin: vw(50) 0;
        @include fontvw(40);
        line-height: 1.2;
      }
      form {
        margin: 0 auto;
        display: block;
        width: vw(350);
        .form {
          position: relative;
          margin-bottom: vw(32);
          padding-bottom: vw(24);
          width: 100%;
          .section-line {
            width: 100%;
          }
        }
        label {
          margin-bottom: vw(32);
          display: block;
          @include fontvw(14);
        }
        .error {
          margin-top: vw(10);
          color: red;
          @include fontvw(12);
        }
        input,
        textarea {
          width: 100%;
          @include fontvw(16);
          box-sizing: border-box;
          outline: none;
          border: none;
          &::placeholder {
            color: rgba(200, 15, 46, .3);
          }
          &:focus {
            // border: rem(2) solid $red;
            outline: none;
          }
        }
        input {
          height: vw(16);
        }
        textarea {
          height: vw(197);
          line-height: (32 / 16);
        }
      }
      .submit {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 750px) {
#cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: rem(30);
  width: rem(30);
  border-radius: 100%;
  pointer-events: none;
  // background-color: $black;
  z-index: 1000;
  will-change: top, left;
  background-image: url(/img/common/ketchup_pointer.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0)
}

#gif {
  @include center();
  position: fixed;
  transform: translate3d(-50%, -50%, 0) scale(0);
  width: vwPc(400);
  z-index: 12;
  pointer-events: none;
}
  .privacy-screen {
    svg {
      position: absolute;
      width: 100%;
      left: 0;
    }
  }
  .btn {
    position: relative;
    @include fitcenter();
    height: vwPc(120);
  }
  .text-center {
    text-align: center;
  }
  .mix-text {
    position: relative;
    display: inline-block;
    z-index: 1;
    &:hover {
      .mix-text-line {
        width: 100%;
      }
      .icon svg {
        transform: translate3d(vwPc(16), 0, 0);
      }
    }
    &__inner {
      position: relative;
      display: inline-flex;
      align-items: end;
      justify-content: center;
      line-height: .4;
    }
    &-line {
      position: absolute;
      bottom: vwPc(-12);
      left: 50%;
      content: '';
      height: vwPc(2);
      width: 0%;
      will-change: width;
      transition: width .5s $slide;
      transform: translate3d(-50%, 0, 0);
    }
    .roc-grotesk-wide {
      @include fontvwPc(16);
      // @include fontvwPc(16);
    }
    .borax {
      margin-left: vwPc(8);
      @include fontvwPc(22);
      &.no-m {
        margin-left: 0;
      }
    }
    .icon {
      position: relative;
      top: vwPc(4);
      padding-right: vwPc(16);
      margin-left: vwPc(16);
      box-sizing: content-box;
      width: vwPc(24);
      svg {
        position: relative;
        height: vwPc(24);
        width: 100%;
        transition: transform .25s $slide;
      }
    }
  } 
  .ruler {
    position: relative;
    margin: 0 auto;
    width: vwPc(1400);
  }
  .btn-full {
    position: relative;
    &:hover {
      .mix-text {
        color: $white;
        transition: color .25s $slide;
        .icon svg {
          transform: translate3d(vwPc(14), 0, 0);
          transition: transform .25s $slide;
          * {
            stroke: $white;
            transition: stroke .25s $slide;
          }
        }
      }
      .cover {
        &.left, &.right {
          .cover__inner {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
    .mix-text {
      will-change: color;
      transition: color .25s $slide .25s;
      .icon svg {
        position: relative;
        will-change: transform;
        transition: transform .25s $slide .25s;
        * {
          will-change: stroke;
          transition: stroke .25s $slide .25s;
        }
      }
    }
    .cover {
      position: absolute;
      height: 100%;
      width: 50%;
      overflow: hidden;
      &__inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        will-change: transform;
        transition: transform .5s $slide;
      }
      &.left {
        left: 0;
        .cover__inner {
          transform: translate3d(101%, 0, 0);
        }
      }
      &.right {
        right: 0;
        .cover__inner {
          transform: translate3d(-101%, 0, 0);
        }
      }
    }  
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &.hide {
      h1 {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transform: translate3d(0, vwPc(-10), 0);
      }
    }
    .inner {
      position: relative;
      margin: 0 auto;
      width: vwPc(1400);
    }
    h1 {
      position: absolute;
      top: rem(24);
      left: 0;
      width: rem(110);
      // width: rem(225);
      // width: vwPc(225);
      will-change: clip-path, transform;
      transform: translate3d(0, 0, 0);
      transition: transform .5s $ziwaziwa, clip-path .5s $slide;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      // transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      .logo {
        path {
          // fill: $red;
        }
      }
    }
    nav {
      position: absolute;
      top: rem(26);
      right: rem(30);
      ul {
        li {
          position: relative;
          display: flex;
          align-items: center;
          margin-right: rem(303);
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          &:hover,
          &.active {
            .text {
              &-wrap {
                &:nth-child(1) {
                  transform: translate3d(0, -100%, 0);
                }
                &:nth-child(2) span {
                  transform: translate3d(0, 0%, 0);
                  @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                      transition: transform .5s
                            $easeInOutBack
                            #{$i *
                            0.1}s;
                    }
                  }
                }
              }
            }
            .ketchup {
              svg {
                transform: scale(1);
              }
            }
          }
          .text {
            position: relative;
            display: block;
            // @include fontvwPc(10);
            overflow: hidden;
            pointer-events: none;
            &-wrap {
              position: relative;
              display: block;
              height: rem(12);
              z-index: 1;
              &:nth-child(1) {
                position: relative;
                @include fontsize(10);
                transition: transform 0.5s $zoom;
              }
              &:nth-child(2) {
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                @include fontsize(12);
                transition: transform 0.5s $easeInOutBack;
                span {
                  position: relative;
                  transform: translate3d(0, 101%, 0);
                      transition: transform .5s
                            $easeInOutBack;
                }
              }
            }
          }
          .ketchup {
            margin-right: rem(6);
            width: rem(16);
            svg {
              position: relative;
              width: 100%;
              transform: scale(0);
              will-change: transform;
              transition: transform .5s $zoom;
            }
          }
        }
      }
    }
  }
  #footer {
    position: relative;
    overflow: hidden;
    will-change: transform;
    .ruler {
      padding: vwPc(24) 0;
    }
    #switcher {
      position: absolute;
      right: 0;
      top: vwPc(24);
      .switcher {
        @include fitcenter();
        height: vwPc(40);
        width: vwPc(40);
        box-sizing: border-box;
        border-radius: 100%;
        margin-right: vwPc(8);
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        &.light {
        }
        &.dark {
          // background-color: $red;
        }
        &.bg-white {
          border: rem(1) solid $red;
        }
        &.bg-red {
          border: rem(1) solid $white;
        }
        svg {
          width: vwPc(17);
        }
      }
    }
    .copy,
    .address {
      @include fontvwPc(14);
    }
    .address{
      margin-bottom: vwPc(40);
    }
  }
  .section {
    &-line {
      height: rem(1);
      width: 100%;
      &.absolute {
        margin: 0 !important;
      }
      &.top {
        top: 0;
        left: 0;
      }
      &.bottom {
        left: 0;
        bottom: 0;
      }
    }
    &-title {
      &.fixed {
        top: vwPc(135);
        right: vwPc(20);
        @include fontvwPc(22);
        z-index: 1;
      }
    }
    &#work-together {
      .ruler {
        padding: vwPc(120) 0; 
        .ketchup-icon {
          display: block;
          margin: vwPc(90) auto vwPc(40);
          width: vwPc(64);
          svg {
            position: relative;
            animation: scaleIcon 3s ease-in-out infinite;
            // animation: scaleIcon 3s $easeInOutCubic infinite;
          }
        }
      }
      .section {
        &-title {
          margin-bottom: vwPc(32);
          @include fontvwPc(76);
          text-align: center;
        }
      }
    }
  }
  main {
    // min-height: 100vh;
    .works-wrapper {
      position: relative;
      ul {
        flex-wrap: wrap;
        li {
          position: relative;
          width: 50%;
          will-change: transform, opacity;
          overflow: hidden;
          &.box3 {
            margin-left: 20.512820512820512%;
          }
          &.box4 {
            margin-right: 0;
          }
          .slide-text {
            position: relative;
            display: block;
            overflow: hidden;
            color: $black;
            .inner-slide {
              position: absolute;
              top: 0;
              left: 0;
              padding: vwPc(24) 0 vwPc(48) 0;
              height: 100%;
              width: 100%;
              line-height: 1;
              overflow: hidden;
              transform: translate3d(-101%, 0, 0);
              will-change: transform;
              transition: transform .5s $slide;
              .inner-slide-slide {
                display: block;
                height: 100%;
                transform: translate3d(101%, 0, 0);
                text-decoration: none;
                will-change: transform;
                transition: transform .5s $slide;
              }
            }
          }
          &:hover {
            .slide-text {
              .inner-slide {
                transform: translateZ(0);
                .inner-slide-slide {
                  transform: translateZ(0);
                }
              }
            }
            .arrow {
              transform: translate3d(vwPc(14), 0, 0);
              transition: transform .25s $slide .25s;
            }
            .img {
              &::before {
                // opacity: 1;
              }
              img {
                transform: scale(1.05) !important;
              }
            }
          }
          .img-wrap {
            position: relative;
            overflow: hidden;
            &::before {
              content: "";
              display: block;
              padding-top: 52.22222222222223%;
            }
          }
          .img {
            @include center();
            height: 100%;
            width: 100%;
            transform: translate3d(-50%, -50%, 0) scale(1.1);
            will-change: transform;
            transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
            &::before {
              @include center();
              height: 101%;
              width: 101%;
              content: "";
              background-color: $red;
              mix-blend-mode: color;
              opacity: 0;
              transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              z-index: 1;
            }
            &.show {
              transform: translate3d(-50%, -50%, 0) scale(1);
              .cover {
                transform: translate3d(0, -105%, 0);
                transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
              }
            }
            img {
              object-fit: cover !important;
              // opacity: 0;
              transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            }
            img[data-load="done"] {
              opacity: 1;
            }
            .cover {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              content: "";
              background-color: $red;
              transform: translate3d(0, 0, 0);
              transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              will-change: transform;
              z-index: 1;
              display: none;
            }
            span,
            img {
              position: relative !important;
              width: 100% !important;
              height: 100% !important;
            }
          }
          a {
            // color: $black;
          }
          .detail {
            padding: vwPc(24) 0 vwPc(48) 0;
            &-above {
              position: relative;
              padding-left: vwPc(24);
              padding-right: vwPc(45);
              .index {
                position: relative;
                top: vwPc(2);
                margin-right: vwPc(8);
                @include fontvwPc(8);
              }
              .title {
                margin-bottom: vwPc(16);
                @include fontvwPc(16);
                line-height: (19.2 / 16);
              }
              .arrow {
                position: absolute;
                top: 0;
                right: vwPc(27);
                width: vwPc(18);
                will-change: transform;
                transition: transform .25s $slide;
                svg {
                  width: 100%;
                }
              }
            }
            .categories {
              padding-left: vwPc(24);
              @include fontvwPc(10);
            }
          }
        }
      }
    }
    &.common {
      padding-top: rem(130);
    }
    &#home {
      section {
        &#top {
          // height: calc( 100vh );
          box-sizing: border-box;
          // background-color: rgb(255,255,255);
          .ruler {
            max-width: initial;
            // height: 100%;
            .vh {
              position: relative;
              height: 100vh;
              box-sizing: content-box;
            }
            .logo {
              // position: relative;
              // top: 0;
              @include center();
              left: 49.5%;
              // top: vwPc(110);
              // left: vwPc(20);
              // left: 0;
              width: vwPc(1400);
              // width: 100%;
              will-change: transform;
              img {
                @include center();
                height: 100%;
                width: 100%;
                clip-path: url(#logo);
                display: none;
              }
              svg {
                // opacity: 0;
                display: block;
                // visibility: hidden;
              }
              path {
                // fill: $red;
              }
              // span,
              // img {
              //   position: relative !important;
              //   width: 100% !important;
              //   height: unset !important;
              // }
            }
            .mix-text.vertical {
              // bottom: vwPc(60);
              // right: vwPc(20); 
              bottom: rem(60);
              right: rem(20); 
              writing-mode: vertical-rl;
              cursor: pointer;
              .roc-grotesk-wide {
                @include fontsize(12);
                // @include fontvwPc(12);
              }
              .borax {
                margin-top: rem(4);
                // margin-top: vwPc(4);
                margin-left: 0;
                @include fontsize(24);
                // @include fontvwPc(24);
              }
              .triangle {
                margin-top: rem(8);
                // margin-top: vwPc(8);
                span {
                  margin-bottom: rem(6);
                  // margin-bottom: vwPc(6);
                  display: block;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-right: rem(5) solid transparent;
                  border-left: rem(5) solid transparent;
                  border-top: rem(6) solid $red;
                  // border-right: vwPc(5) solid transparent;
                  // border-left: vwPc(5) solid transparent;
                  // border-top: vwPc(6) solid $red;
                  border-bottom: 0;
                  opacity: 0;
                  &:nth-child(1) {
                    animation: scrollIcon 2s steps(1) infinite;
                  }
                  &:nth-child(2) {
                    animation: scrollIcon 2s steps(1) infinite .25s;
                  }
                  &:nth-child(3) {
                    animation: scrollIcon 2s steps(1) infinite .5s;
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
            .est {
              bottom: vwPc(-32);
              right: vwPc(240);
              .roc-grotesk {
                margin-right: vwPc(8);
                @include fontvwPc(16)
              }
              .borax {
                @include fontvwPc(32)
              }
            }
            .slogan {
              position: sticky;
              top: 0;
              // transform: translate3d(0, vwPc(-650), 0);
              width: vwPc(780);
              // width: vwPc(780);
              padding-top: vhPc(360);
              margin-left: vwPc(120);
              // @include fontvwPc(52);
              // line-height: (62.4 / 52);
              // mix-blend-mode: difference;
              mix-blend-mode: screen;
              svg {
                display: block;
                width: 100%;
              }
            }
          }
        }
        &#works {
          padding-top: vwPc(120);
          .section {
            &-title {
              padding-bottom: vwPc(16);
              .roc-grotesk {
                margin-right: vwPc(8);
                @include fontvwPc(16);
              }
              .borax {
                @include fontvwPc(32);
              }
            }
            &-line {
              margin-bottom: vwPc(40);
            }
            .btn {
              position: absolute;
              bottom: vwPc(-12);
              left: 50%;
              content: '';
              height: vwPc(2);
              width: 0%;
              will-change: width;
              transition: width .5s $slide;
              transform: translate3d(-50%, 0, 0);
            }
          }
        }
      }
      .btn {
        margin: 0 auto;
        &.none {
          visibility: hidden !important;
          height: 0 !important;
        }
      }
    }
    &#works {
      padding-top: vwPc(214);
    }
    &#about {
      section {
        &#top {
          padding-top: vwPc(104);
          .ruler {
            .img {
              position: relative;
              margin: 0 auto vwPc(64);
              width: vwPc(577);
              div {
                position: absolute;
                width: 100%;
                &.lamp {
                  // top: vwPc(-500);
                  top: 0;
                  transform: translate3d(0, vwPc(-700), 0);
                  left: 0;
                  z-index: 1;
                  img {
                    &#light {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      opacity: 0;
                      z-index: -1;
                    }
                  }
                }
                &.bg {
                  opacity: 0;
                  @include center();
                }
                &.team {
                  opacity: 0;
                  transform: translate3d(0, 0, 0);
                  position: relative;
                }
              }
            }
            .section-text {
              position: relative;
              margin-bottom: vwPc(80);
              @include fontvwPc(16);
              line-height: (24 / 16);
              text-align: center;
            }
            .company {
              margin: 0 auto;
              width: vwPc(930);
              .flex {
                padding: vwPc(40) 0;
                border-bottom: rem(1) solid $red;
                &:first-child {
                  border-top: rem(1) solid $red;
                }
                p {
                  @include fontvwPc(14);
                  line-height: (21 / 14);
                  &:nth-child(1) {
                    width: vwPc(225);
                  }
                  &:nth-child(2) {
                    width: calc( 100% - vwPc(225) );
                  }
                }
              }
            }
          }
        }
      }
    }
    &#work {
      section {
        &#top {
          .ruler {
            .keyv-wrap {
              position: relative;
              left: 50%;
              transform: translate3d(-50%, 0, 0);
              margin: 0 auto rem(40);
              width: 100vw;
            }
          }
          .title {
            margin-bottom: vwPc(24);
            h2 {
              @include fontvwPc(30);
            }
          }
          .detail {
            width: vwPc(1165);
            margin: 0 auto vwPc(80);
            .categories {
              position: relative;
              &.no-url {
                padding-right: 0;
              }
              p {
                @include fontvwPc(12);
              }
            }
            .client {
              p {
                &:nth-child(1) {
                  margin-bottom: vwPc(8);
                  @include fontvwPc(14);
                }
                &:nth-child(2) {
                  @include fontvwPc(16);
                }
              }
            }
            .mix-text {
              margin-top: vwPc(40);
            }
          }
        }
      }
      .keyv-wrap {
        position: relative;
        margin-bottom: rem(22);
        // opacity: 0;
        overflow: hidden;
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 1s,
          transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
        &.active {
          opacity: 1;
          // .cover {
          //   transform: translate3d(0, -105%, 0);
          // }
          .img img {
            opacity: 1;
            filter: blur(rem(0));
            transform: scale(1);
          }
        }
        .cover {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          content: "";
          background-color: $red;
          transform: translate3d(0, 0, 0);
          transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
          will-change: transform;
          z-index: 1;
          display: none;
        }
        .img {
          position: relative;
          picture {
            height: 100%;
            width: 100%;
          }
          img {
            opacity: 0;
            transform: scale(1.05);
            filter: blur(rem(10));
            transition: opacity 1s $slide, transform 1s $slide, filter 1s $slide ;
            will-change: transform, opacity, filter;
          }
          img[data-load="done"] {
            opacity: 1;
          }
        }
      }
      .gallery {
        margin: 0 auto;
        width: vwPc(1165);
        .column {
          position: relative;
          margin-bottom: 2.803738317757009%;
          &.double {
            .img {
              width: 48.598130841121495%;
            }
          }
          &.triple {
            .img {
              width: 48.598130841121495%;
            }
          }
        }
        &.video {
          position: relative;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          width: 100vw;
        }
        .img {
          position: relative;
          overflow: hidden;
          opacity: 0;
          transform: scale(1.05);
          filter: blur(rem(10));
          transition: opacity 1s $slide, transform 1s $slide, filter 1s $slide ;
          will-change: transform, opacity, filter;
          &.active {
            opacity: 1;
            filter: blur(0);
            transform: scale(1);
          }
        }
        video {
          width: 100%;
          display: block;
        }
      }
      .btn-full {
        margin-top: 2.803738317757009%;
      }
    }
    &#contact {
      section {
        &#top {
          padding-top: vwPc(134);
          padding-bottom: vwPc(120);
        }
      }
      .thank-you {
        margin: rem(50) 0;
        @include fontsize(40);
        // text-align: center;
        line-height: 1.2;
      }
      form {
        margin: 0 auto;
        display: block;
        width: vwPc(695);
        .form {
          position: relative;
          margin-bottom: vwPc(32);
          padding-bottom: vwPc(24);
          width: 100%;
        }
        label {
          margin-bottom: vwPc(32);
          display: block;
          @include fontvwPc(14);
        }
        .error {
          margin-top: vwPc(10);
          color: red;
          @include fontvwPc(12);
        }
        input,
        textarea {
          width: 100%;
          @include fontvwPc(16);
          box-sizing: border-box;
          outline: none;
          border: none;
          &::placeholder {
            color: rgba(200, 15, 46, .3);
          }
          &:focus {
            // border: rem(2) solid $red;
            outline: none;
          }
        }
        input {
          height: vwPc(16);
        }
        textarea {
          height: vwPc(114);
          line-height: (32 / 16);
        }
      }
      .submit {
        cursor: pointer;
      }
    }
  }
}
