@charset "utf-8";
@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  // transform: translate3d(0, 100%, 0);
  background-color: $red;
  z-index: 10;
  will-change: transform;
  pointer-events: none;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    // padding-top: 100%;
    height: 100%;
    width: 100%;
    background-color: $red;
  }
}

html.wf-active {
  body {
    opacity: 1 !important;
  }
}

body {
  font-weight: normal;
  overscroll-behavior-y: none;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  ::selection {
    color: $white;
    background-color: $red;
  }
  .container {
    // opacity: 0;
    // transition: opacity 500ms;
  }
}

.rocextrawide {
  font-family: $RocExtraWide;
  font-weight: 600;
  font-style: normal;
  @include tracking(111);
}

.rocextrawideLight {
  font-family: $RocExtraWide;
  font-weight: 300;
  font-style: normal;
  @include tracking(111);
}

.roc {
  font-family: $Roc;
  font-weight: 600;
}

.futura {
  font-family: $Futura;
  // font-weight: 500;
  font-style: normal;
}

.arrow {
  &.white {
    * {
      fill: $white;
    }
  }
}

.red {
  color: $red;
}

.transition-enter {
  opacity: 0;
}

.transitione-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.transition-exit {
  opacity: 1;
  opacity: 0;
}

.transition-exit-active {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // transform: translate3d(-50%, 0, 0);
  opacity: 0;
  transition: opacity 500ms;
}

.bold {
  font-weight: bold;
}

#root {
  font-feature-settings: "palt";
  font-family: "平成角ゴシック", monospace;
}

#container {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  &.loaded {
    opacity: 1;
  }
  .anim {
    &.normal {
      opacity: 0;
      // transform: translate3d(0, 30px, 0);
      will-change: transform;
      transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
      &.active {
        opacity: 1;
        // transform: translate3d(0, 0, 0);
      }
    }
  }
  .en {
    font-family: $Helvetica;
    font-style: italic;
    text-transform: uppercase;
    @include tracking(100);
  }
}
.page-template,
.archive {
  background-color: $lightGray;
  &.home {
    background-color: initial;
  }
}

.wrapper {
  position: relative;
}

/* starting ENTER animation */
.transition-enter {
  position: relative;
  opacity: 0;
  z-index: 1;
}

/* ending ENTER animation */
.transition-enter-active {
  position: relative;
  opacity: 1;
  z-index: 1;
  transition: opacity 200ms;
}

/* starting EXIT animation */
.transition-exit {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1;
}

/* ending EXIT animation */
.transition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@media screen and (max-width: 749px) {
  .privacy-screen {
    svg {
      position: absolute;
      width: 100%;
      left: 0;
      &.wave-top {
        top: -21vw;
      }
      &.wave-bottom {
        transform: rotateX(180deg);
        bottom: -21vw;
      }
    }
  }
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: vw(5);
    background: $red;
    transform-origin: 0%;
    z-index: 10;
  }
  .vertical {
    position: sticky;
    top: vw(185);
    @include fontvw(12);
    color: $red;
    writing-mode: vertical-rl;
    &.white {
      color: $white;
    }
  }
  #cursor-dot {
    position: fixed;
    height: rem(30);
    width: rem(30);
    background-color: $black;
    border-radius: 100%;
  }
  .btn {
    height: vw(80);
    width: vw(325);
    justify-content: center !important;
    box-sizing: border-box;
    background-color: $red;
    border: none;
    &:active {
      .text {
        @include tracking(120);
      }
      img,
      svg {
        transform: translate3d(vw(10), 0, 0);
      }
    }
    &.white {
      background-color: $white;
      .text {
        color: $red;
      }
    }
    img,
    svg {
      width: vw(45.45);
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .text {
      margin-right: vw(20);
      @include fontvw(20);
      white-space: nowrap;
      color: $white;
      transition: letter-spacing 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .ruler {
    position: relative;
    margin: 0 auto;
    width: vw(325);
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &.hide {
      h1 {
        opacity: 0;
      }
    }
    &.show {
      h1 {
        opacity: 1;
      }
      .logo {
        path {
          fill: $white;
        }
      }
      nav {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s 0s;
        ul {
          li {
            @for $i from 1 through 3 {
              &:nth-child(#{$i}) {
                .ketchup {
                  span {
                    animation: rotate
                      1s
                      cubic-bezier(0.4, 0, 0.2, 1)
                      #{($i - 1) *
                      0.15}s
                      forwards;
                  }
                  img {
                    transform: translate3d(-50%, -50%, 0) scale(1) !important;
                  }
                }
              }
            }
            .ketchup {
            }
            span {
              transform: translate3d(0, -100%, 0);
            }
          }
        }
      }
      .menu-trigger {
        p {
          transform: translate3d(0, -100%, 0);
        }
      }
    }
    h1 {
      position: absolute;
      top: vw(10);
      left: vw(10);
      width: vw(127);
      z-index: 12;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      .logo {
        path {
          fill: $red;
        }
      }
    }
    nav {
      position: fixed;
      @include fitcenter();
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      background-color: $red;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s 0.5s;
      z-index: 11;
      ul {
        position: relative;
        justify-content: center;
        width: vw(375);
        z-index: 1;
        li {
          position: relative;
          margin-right: vw(60);
          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              span {
                transition: transform
                  0.5s
                  cubic-bezier(0.4, 0, 0.2, 1)
                  #{($i - 1) *
                  0.15}s;
              }
              .ketchup {
                img {
                  // animation: rotate 5s linear infinite #{($i - 1) * 0.15}s;
                  transition: transform
                    0.5s
                    cubic-bezier(0.4, 0, 0.2, 1)
                    #{($i - 1) *
                    0.15}s;
                }
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
          // &:hover,
          // &.active {
          //   a {
          //     // @include tracking(150);
          //     // color: $white;
          //     span {
          //       transform: translate3d(0, -100%, 0);
          //       &:nth-child(1) {
          //         color: transparent;
          //       }
          //     }
          //   }
          //   img {
          //     transform: translate3d(-50%, -50%, 0) scale(1);
          //   }
          // }
          div {
            position: relative;
            @include fitcenter();
            height: 100%;
            width: 100%;
            // transform: translate3d(0, 100%, 0);
            display: block;
            @include fontvw(13);
            color: $black;
            transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            pointer-events: none;
            overflow: hidden;
            span {
              position: relative;
              display: block;
              transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              z-index: 1;
              &:nth-child(1) {
                position: relative;
                opacity: 0;
              }
              &:nth-child(2) {
                position: absolute;
                // top: 0;
                top: 100%;
                left: 0;
                width: 100%;
                color: $white;
              }
            }
          }
          .ketchup {
            @include center();
            // transform: translate3d(-50%, -50%, 0) scale(0);
            height: vw(51.528);
            width: vw(56);
            span {
              overflow: visible !important;
              transform: translate3d(-50%, -50%, 0) !important;
            }
            span,
            img {
              position: absolute !important;
              top: 50% !important;
              left: 50% !important;
              height: 100% !important;
              width: 100% !important;
            }
            img {
              width: auto !important;
              min-width: initial !important;
              max-width: initial !important;
              min-height: initial !important;
              max-height: initial !important;
              margin: initial !important;
              transform: translate3d(-50%, -50%, 0) scale(0) !important;
              transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              z-index: -1 !important;
            }
          }
        }
      }
    }
    .menu-trigger {
      position: absolute;
      top: vw(20);
      right: vw(10);
      // height: vw(16);
      width: vw(40);
      // width: vw(24);
      z-index: 12;
      .text-wrapper {
        position: relative;
        overflow: hidden;
        pointer-events: none;
        z-index: 2;
        p {
          display: block;
          @include fontvw(13);
          text-align: center;
          color: $white;
          transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          &:nth-child(1) {
            position: relative;
          }
          &:nth-child(2) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
          }
        }
      }
      .ketchup {
        @include center();
        height: vw(36.92);
        width: vw(40);
        span {
          position: relative !important;
        }
        span,
        img {
          width: 100% !important;
          height: 100% !important;
        }
        img {
          position: absolute !important;
          top: 0 !important;
          left: 0 !important;
          max-width: initial !important;
          z-index: -1;
        }
      }
      // div {
      //   position: absolute;
      //   height: vw(2);
      //   width: 100%;
      //   left: 50%;
      //   background-color: $white;
      //   // background-color: $red;
      //   z-index: 1;
      //   &:nth-child(1) {
      //     top: vw(-1);
      //     transform: translate3d(-50%, 0, 0);
      //   }
      //   &:nth-child(2) {
      //     top: 50%;
      //     transform: translate3d(-50%, -50%, 0);
      //   }
      //   &:nth-child(3) {
      //     top: calc(100% + -0.2666666667vw);
      //     transform: translate3d(-50%, 0, 0);
      //   }
      // }
    }
  }
  #footer {
    position: relative;
    height: vw(364);
    overflow: hidden;
    will-change: transform;
    .footer-inner {
      position: absolute;
      top: vw(91);
      // top: rem(200);
      left: 0;
      padding-top: vw(100);
      height: 100%;
      width: 100%;
      background-color: $red;
      box-sizing: border-box;
    }
    .vertical {
      position: absolute;
      top: vw(20);
    }
    .btn {
      margin: 0 auto;
    }
    .ruler {
      position: absolute;
      left: 50%;
      flex-direction: column-reverse;
      bottom: vw(40);
      transform: translate3d(-50%, 0, 0);
      max-width: initial;
      box-sizing: border-box;
    }
    .copy,
    .address {
      @include fontvw(13);
      color: $white;
      font-weight: 300;
    }
    .address {
      margin-bottom: vw(10);
    }
  }
  main {
    min-height: 100vh;
    .section-title {
      margin-bottom: vw(40);
      @include fontvw(18);
    }
    .section-text {
      @include fontvw(13);
      line-height: (25 / 13);
    }
    section {
      &.works-wrapper {
        position: relative;
        min-height: 100vh;
        &.other-works-wrapper {
          .inner {
            // margin-top: vw(-170.78);
            width: 100%;
            ul {
              li {
                margin-right: vw(21);
                margin-bottom: vw(15);
                width: vw(152);
                &:nth-child(2n) {
                  margin-right: 0;
                }
                .detail {
                  margin-bottom: 0 !important;
                  .title {
                    margin-bottom: vw(5);
                    @include fontvw(13);
                    .futura {
                      top: 0.3vw;
                      @include fontvw(15);
                    }
                  }
                }
                .img {
                  height: 22vw;
                  img {
                    object-fit: cover !important;
                  }
                }
              }
            }
          }
        }
        .inner {
          margin: 0 auto;
          width: vw(325);
          ul {
            flex-wrap: wrap;
            li {
              position: relative;
              margin-bottom: vw(20);
              width: 100%;
              &:active {
                .img {
                  &::before {
                    // opacity: 1;
                  }
                  img {
                    transform: scale(1.05);
                  }
                }
                .slide-text {
                  .inner-slide {
                    transform: translateZ(0);
                    .inner-slide-slide {
                      transform: translateZ(0);
                    }
                  }
                }
              }
              .slide-text {
                position: relative;
                display: block;
                overflow: hidden;
                color: $black;
                .inner-slide {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  line-height: 1;
                  overflow: hidden;
                  transform: translate3d(-101%, 0, 0);
                  background-color: $white;
                  will-change: transform;
                  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
                  .inner-slide-slide {
                    * {
                      color: $red !important;
                      background-color: transparent !important;
                    }
                    display: block;
                    height: 100%;
                    transform: translate3d(101%, 0, 0);
                    text-decoration: none;
                    will-change: transform;
                    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                }
              }
              .img-wrap {
                position: relative;
                overflow: hidden;
                margin-bottom: vw(20);
                &::before {
                  content: "";
                  display: block;
                  padding-top: 52.22222222222223%;
                }
              }
              .img {
                @include center();
                height: 100%;
                width: 100%;
                transform: translate3d(-50%, -50%, 0) scale(1.1);
                will-change: transform;
                transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
                &.show {
                  transform: translate3d(-50%, -50%, 0) scale(1);
                  .cover {
                    transform: translate3d(0, -105%, 0);
                    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                }
                &::before {
                  @include center();
                  height: 101%;
                  width: 101%;
                  content: "";
                  background-color: $red;
                  mix-blend-mode: color;
                  opacity: 0;
                  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  z-index: 1;
                }
                img {
                  opacity: 0;
                  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                }
                img[data-load="done"] {
                  opacity: 1;
                }
                .cover {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  content: "";
                  background-color: $red;
                  // mix-blend-mode: color;
                  // opacity: 0;
                  transform: translate3d(0, 0, 0);
                  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  will-change: transform;
                  z-index: 1;
                }
                span,
                img {
                  position: relative !important;
                  width: 100% !important;
                  height: 100% !important;
                }
                img {
                  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                }
              }
              a {
                color: $black;
              }
              .detail {
                .title {
                  margin-bottom: vw(10);
                  @include fontvw(16);
                  line-height: 1.2;
                  font-weight: 600;
                  .futura {
                    position: relative;
                    top: 0.3vw;
                    @include fontvw(20);
                  }
                }
                .categories {
                  @include fontvw(11);
                  line-height: (15 / 11);
                }
              }
            }
          }
        }
      }
    }
    &.common {
      padding-top: vw(125);
    }
    &#home {
      padding-bottom: vw(120);
      section {
        &#top {
          // height: 50vh;
          @include fitcenter();
          height: 100vh;
          height: calc(var(--vh, 1vh) * 100);
          margin-bottom: vw(80);
          .ruler {
            // height: 100%;
            width: 100%;
            max-width: initial;
            div {
              @include fitcenter();
              &:nth-child(1) {
                .logo {
                  position: relative;
                  margin: 0 auto vw(70);
                  width: vw(355);
                  path {
                    fill: $red;
                  }
                  span,
                  img {
                    position: relative !important;
                    width: 100% !important;
                    height: unset !important;
                  }
                }
              }
              &:nth-child(2) {
                margin: 0 auto;
                // width: vw(325);
                width: 95%;
              }
            }
            .slogan {
              // @include fontvw(30);
              line-height: (50 / 40);
              font-size: 8.3vw;
              // font-size: 10.366667vw;
              span {
                position: relative;
                display: inline-block;
                will-change: transform;
              }
            }
          }
        }
      }
      .works-wrapper {
        .inner {
          margin-top: vw(-81);
        }
      }
      .btn {
        margin: 0 auto;
        &.none {
          visibility: hidden !important;
          height: 0 !important;
        }
      }
    }
    &#about {
      padding-bottom: vw(100);
      section {
        &#top {
          .ruler {
            .section-text {
              margin-bottom: vw(80);
              font-family: $Mincho;
              color: $red;
            }
            .company {
              margin-top: vw(-90.89);
              div {
                &:last-child {
                  p {
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
                p {
                  margin-bottom: vw(40);
                  span {
                    display: block;
                    &:nth-child(1) {
                      margin-bottom: vw(20);
                      @include fontvw(13);
                      color: $red;
                    }
                    &:nth-child(2) {
                      @include fontvw(13);
                      line-height: (25 / 13);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &#work {
      section {
        &#top {
          margin-bottom: vw(100);
          .ruler {
            .keyv-wrap {
              margin-top: vw(-81);
            }
          }
          .detail {
            margin-bottom: vw(40);
            div {
              &:nth-child(1) {
                position: relative;
                padding-bottom: vw(40);
                margin-bottom: vw(35);
                &::after {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  // bottom: vw(-40);
                  display: block;
                  content: "";
                  height: vw(1);
                  width: vw(80);
                  background-color: $black;
                }
                .title {
                  @include fontvw(20);
                  line-height: (31 / 24);
                  font-weight: 600;
                  .futura {
                    position: relative;
                    top: 0.3vw;
                    @include fontvw(25);
                  }
                }
                .text {
                  margin-top: vw(40);
                  @include fontvw(13);
                  line-height: (25 / 13);
                }
              }
              &:nth-child(2) {
                a {
                  &:active {
                    .text {
                      @include tracking(150);
                    }
                    img,
                    svg {
                      transform: translate3d(vw(10), 0, 0);
                    }
                  }
                  .text {
                    @include fontvw(16);
                    transition: letter-spacing 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                  img,
                  svg {
                    margin-left: vw(10);
                    width: vw(40);
                    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                }
                .categories {
                  margin-top: vw(20);
                  @include fontvw(11);
                }
                .client {
                  margin: vw(20) 0 vw(30) 0;
                  p {
                    &:nth-child(1) {
                      margin-bottom: vw(5);
                      @include fontvw(18);
                    }
                    &:nth-child(2) {
                      // margin-bottom: rem(5);
                      @include fontvw(13);
                    }
                  }
                }
                a {
                  justify-content: flex-end;
                }
              }
            }
          }
        }
      }
      .keyv-wrap {
        position: relative;
        margin-bottom: vw(30);
        overflow: hidden;
        // opacity: 0;
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 1s,
          transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
        &::before {
          content: "";
          display: block;
          padding-top: 52.22222222222223%;
        }
        &.active {
          opacity: 1;
          .cover {
            transform: translate3d(0, -105%, 0);
          }
          .img img {
            transform: scale(1);
          }
        }
        .cover {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          content: "";
          background-color: $red;
          transform: translate3d(0, 0, 0);
          transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
          will-change: transform;
          z-index: 1;
        }
        img {
          transform: scale(1.1);
          will-change: transform;
          transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1) 1s;
        }
        img[data-load="done"] {
          opacity: 1;
        }
        .img {
          @include center();
          height: 100%;
          width: 100%;
          span,
          img {
            position: relative !important;
            width: 100% !important;
            height: unset !important;
          }
          img[data-load="done"] {
            opacity: 1;
          }
        }
      }
      .gallery {
        border: vw(1) solid $red;
        .img {
          // margin-bottom: vw(60);
          // &:last-child {
          //   margin-bottom: 0;
          // }
          video {
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    &#contact {
      padding-bottom: vw(100);
      .thank-you {
        margin: vw(50) 0;
        @include fontvw(40);
        // text-align: center;
        line-height: 1.2;
      }
      form {
        margin-top: vw(-106.05);
        div {
          margin-bottom: vw(40);
        }
        label {
          margin-bottom: vw(20);
          display: block;
          @include fontvw(13);
        }
        .error {
          margin-top: vw(10);
          color: red;
          @include fontvw(12);
        }
        input,
        textarea {
          border: vw(1) solid $black;
          width: 100%;
          @include fontvw(16);
          border: vw(1) solid $red;
          box-sizing: border-box;
          &:focus {
            outline: none;
            border: vw(2) solid $red;
            // outline: solid rem(1) $red;
          }
        }
        input {
          padding: 0 vw(20);
          height: vw(70);
        }
        textarea {
          padding: vw(10) vw(20);
          height: vw(200);
          line-height: (32 / 16);
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .privacy-screen {
    svg {
      position: absolute;
      width: 100%;
      left: 0;
      &.wave-top {
        top: -22vw;
      }
      &.wave-bottom {
        transform: rotateX(180deg);
        bottom: -22vw;
      }
    }
  }
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem(10);
    background: $red;
    transform-origin: 0%;
    z-index: 10;
  }
  .vertical {
    position: sticky;
    top: rem(130);
    left: 0;
    @include fontsize(16);
    color: $red;
    writing-mode: vertical-rl;
    &.white {
      color: $white;
    }
  }
  #cursor-dot {
    position: fixed;
    height: rem(30);
    width: rem(30);
    background-color: $black;
    border-radius: 100%;
  }
  .btn {
    padding: 0 rem(30);
    height: rem(120);
    width: rem(690);
    box-sizing: border-box;
    background-color: $red;
    border: none;
    cursor: pointer;
    &:hover {
      .text {
        @include tracking(150);
      }
      img,
      svg {
        transform: translate3d(rem(10), 0, 0);
      }
    }
    &.white {
      background-color: $white;
      .text {
        color: $red;
      }
    }
    img,
    svg {
      width: rem(160);
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .text {
      @include fontsize(32);
      color: $white;
      transition: letter-spacing 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .ruler {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: rem(1600);
  }
  #header {
    position: fixed;
    width: 100%;
    z-index: 10;
    &.hide {
      h1 {
        opacity: 0;
      }
    }
    h1 {
      position: absolute;
      top: rem(20);
      left: rem(15);
      width: rem(120);
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      .logo {
        path {
          fill: $red;
        }
      }
    }
    nav {
      position: absolute;
      top: rem(30);
      right: rem(30);
      ul {
        li {
          position: relative;
          margin-right: rem(40);
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          &:hover,
          &.active {
            div {
              // @include tracking(150);
              // color: $white;
              span {
                transform: translate3d(0, -100%, 0);
                &:nth-child(1) {
                  color: transparent;
                }
              }
            }
            .ketchup {
              span {
                animation: rotate 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
                img {
                  transform: translate3d(-50%, -50%, 0) scale(1) !important;
                }
              }
            }
          }
          div {
            position: relative;
            display: block;
            @include fontsize(13);
            color: $black;
            transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            // transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            //   letter-spacing 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            overflow: hidden;
            pointer-events: none;
            span {
              position: relative;
              display: block;
              transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              z-index: 1;
              &:nth-child(1) {
                position: relative;
              }
              &:nth-child(2) {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                color: $white;
              }
            }
          }
          .ketchup {
            @include center();
            height: rem(35.92) !important;
            width: rem(40);
            span {
              overflow: visible !important;
              transform: translate3d(-50%, -50%, 0) !important;
            }
            span,
            img {
              position: absolute !important;
              top: 50% !important;
              left: 50% !important;
              height: 100% !important;
              width: 100% !important;
            }
            img {
              width: rem(40) !important;
              min-width: initial !important;
              max-width: initial !important;
              min-height: initial !important;
              max-height: initial !important;
              margin: initial !important;
              transform: translate3d(-50%, -50%, 0) scale(0) !important;
              transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
              z-index: -1 !important;
            }
          }
        }
      }
    }
  }
  #footer {
    position: relative;
    height: rem(400);
    overflow: hidden;
    will-change: transform;
    .footer-inner {
      position: absolute;
      // top: 10%;
      top: rem(100);
      left: 0;
      padding-top: rem(120);
      height: 100%;
      width: 100%;
      background-color: $red;
      box-sizing: border-box;
      will-change: transform;
    }
    .vertical {
      position: absolute;
      top: rem(20);
    }
    .btn {
      margin: 0 auto;
    }
    .ruler {
      position: absolute;
      padding: 0 rem(15) rem(20) rem(15);
      left: 0;
      bottom: 0;
      width: 100%;
      max-width: initial;
      box-sizing: border-box;
    }
    .copy,
    .address {
      @include fontsize(13);
      color: $white;
      font-weight: 300;
    }
  }
  main {
    min-height: 100vh;
    .section-title {
      margin-bottom: rem(50);
      @include fontsize(30);
    }
    .section-text {
      @include fontsize(12);
      line-height: (24 / 12);
    }
    section {
      &.works-wrapper {
        position: relative;
        min-height: 100vh;
        &.other-works-wrapper {
          .inner {
            margin-top: rem(-80);
            width: 100%;
            ul {
              li {
                margin-right: 2.857142857142857%;
                width: 31.42857142857143%;
                &:nth-child(3n) {
                  margin-right: 0;
                }
                &:last-child {
                  display: none;
                }
                .img {
                  &::after {
                    display: block;
                    padding-top: 52.428571%;
                    content: "";
                  }
                  span,
                  img {
                    position: absolute !important;
                    height: 100% !important;
                  }
                  img {
                    object-fit: cover !important;
                  }
                }
                .detail {
                  margin-bottom: 0 !important;
                  .title {
                    .futura {
                      position: relative;
                      @include fontsize(25);
                      top: rem(1);
                    }
                  }
                }
              }
            }
          }
        }
        .inner {
          margin: 0 auto;
          width: 81.25%;
          ul {
            flex-wrap: wrap;
            li {
              position: relative;
              margin-bottom: 8.547008547008547%;
              margin-right: 2.564102564102564%;
              width: 38.461538461538464%;
              will-change: transform;
              overflow: hidden;
              &.large {
                margin-left: 20.512820512820512%;
              }
              &.mn {
                margin-right: 0;
              }
              .slide-text {
                position: relative;
                display: block;
                overflow: hidden;
                color: $black;
                .inner-slide {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  line-height: 1;
                  overflow: hidden;
                  transform: translate3d(-101%, 0, 0);
                  background-color: $white;
                  will-change: transform;
                  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
                  .inner-slide-slide {
                    * {
                      color: $red !important;
                      background-color: transparent !important;
                    }
                    display: block;
                    height: 100%;
                    transform: translate3d(101%, 0, 0);
                    text-decoration: none;
                    will-change: transform;
                    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                }
              }
              &:hover {
                .slide-text {
                  .inner-slide {
                    transform: translateZ(0);
                    .inner-slide-slide {
                      transform: translateZ(0);
                    }
                  }
                }
                .img {
                  &::before {
                    // opacity: 1;
                  }
                  img {
                    transform: scale(1.05) !important;
                  }
                }
              }
              .img-wrap {
                position: relative;
                margin-bottom: rem(25);
                overflow: hidden;
                &::before {
                  content: "";
                  display: block;
                  padding-top: 52.22222222222223%;
                }
              }
              .img {
                @include center();
                height: 100%;
                width: 100%;
                transform: translate3d(-50%, -50%, 0) scale(1.1);
                will-change: transform;
                transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
                &::before {
                  @include center();
                  height: 101%;
                  width: 101%;
                  content: "";
                  background-color: $red;
                  mix-blend-mode: color;
                  opacity: 0;
                  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  z-index: 1;
                }
                &.show {
                  transform: translate3d(-50%, -50%, 0) scale(1);
                  .cover {
                    transform: translate3d(0, -105%, 0);
                    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                }
                img {
                  object-fit: cover !important;
                  opacity: 0;
                  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                }
                img[data-load="done"] {
                  opacity: 1;
                }
                .cover {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  content: "";
                  background-color: $red;
                  transform: translate3d(0, 0, 0);
                  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  will-change: transform;
                  z-index: 1;
                }
                span,
                img {
                  position: relative !important;
                  width: 100% !important;
                  height: 100% !important;
                }
              }
              a {
                // color: $black;
              }
              .detail {
                .title {
                  margin-bottom: rem(10);
                  @include fontsize(24);
                  line-height: (28 / 20);
                  font-weight: 600;
                }
                .categories {
                  @include fontsize(13);
                  line-height: (17 / 13);
                }
              }
              .inner {
              }
            }
          }
        }
      }
    }
    &.common {
      padding-top: rem(130);
    }
    &#home {
      // padding-top: rem(170);
      padding-bottom: rem(160);
      section {
        &#top {
          // position: sticky;
          // top: 0;
          // height: 50vh;
          @include fitcenter();
          height: 100vh;
          // margin-bottom: rem(200);
          // margin-bottom: rem(117.25);
          .ruler {
            height: 100%;
            width: 94%;
            // width: 97.22222222222222%;
            max-width: initial;
            div {
              @include fitcenter();
              &:nth-child(1) {
                width: 50%;
                .logo {
                  position: relative;
                  margin: 0 auto 0 0;
                  width: 90%;
                  will-change: transform;
                  path {
                    fill: $red;
                  }
                  span,
                  img {
                    position: relative !important;
                    width: 100% !important;
                    height: unset !important;
                  }
                }
              }
              &:nth-child(2) {
                width: 50%;
                // width: 30.714285714285716%;
                // min-width: rem(410);
              }
            }
            .slogan {
              line-height: (90 / 70);
              font-size: 4.5vw;
              white-space: nowrap;
              span {
                position: relative;
                display: inline-block;
                will-change: transform;
              }
            }
          }
        }
      }
      .works-wrapper {
        .inner {
          // margin-top: -11.025rem;
          // margin-top: rem(-117.25);
        }
      }
      .btn {
        margin: 0 auto;
        &.none {
          visibility: hidden !important;
          height: 0 !important;
        }
      }
    }
    &#about {
      padding-bottom: rem(120);
      section {
        &#top {
          .ruler {
            .section-text {
              margin-bottom: rem(80);
              // width: 58.97435897435898%;
              @include fontsize(20);
              line-height: (40 / 20);
              font-family: $Mincho;
              color: $red;
              // .futura {
              //   @include fontsize(22);
              // }
            }
            .company {
              margin-top: rem(-121.17);
              padding-left: rem(120);
              .flex {
                p {
                  &:nth-child(1) {
                    margin-right: rem(30);
                    width: rem(330);
                  }
                }
              }
              div {
                margin-bottom: rem(40);
                &:last-child {
                  margin-bottom: 0;
                  width: rem(690);
                }
                p {
                  span {
                    display: block;
                    &:nth-child(1) {
                      margin-bottom: rem(20);
                      @include fontsize(16);
                      color: $red;
                    }
                    &:nth-child(2) {
                      @include fontsize(13);
                      line-height: (25 / 13);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &#work {
      // opacity: 0;
      // transition: opacity 500ms;
      // &.show {
      //   opacity: 1;
      // }
      section {
        &#top {
          margin-bottom: rem(160);
          .ruler {
            .keyv-wrap {
              margin-top: rem(-117.25);
            }
          }
          .detail {
            margin-bottom: rem(50);
            div {
              &:nth-child(1) {
                margin-right: 12.82051282051282%;
                width: 58.97435897435898%;
                .title {
                  @include fontsize(32);
                  line-height: 1.4;
                  .futura {
                    position: relative;
                    top: rem(2);
                    @include fontsize(40);
                  }
                }
                .text {
                  margin-top: rem(35);
                  @include fontsize(13);
                  line-height: (25 / 13);
                }
              }
              &:nth-child(2) {
                width: 28.205128205128205%;
                min-width: rem(188);
                a {
                  &:hover {
                    .text {
                      @include tracking(150);
                    }
                    img,
                    svg {
                      transform: translate3d(rem(10), 0, 0);
                    }
                  }
                  .text {
                    @include fontsize(16);
                    transition: letter-spacing 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                  img,
                  svg {
                    margin-left: rem(10);
                    width: rem(40);
                    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                  }
                }
                .categories {
                  margin-top: rem(45);
                  @include fontsize(13);
                }
                .client {
                  margin-top: rem(20);
                  p {
                    &:nth-child(1) {
                      margin-bottom: rem(5);
                      @include fontsize(20);
                    }
                    &:nth-child(2) {
                      margin-bottom: rem(5);
                      @include fontsize(13);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .keyv-wrap {
        position: relative;
        margin-bottom: rem(22);
        // opacity: 0;
        overflow: hidden;
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 1s,
          transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
        &.active {
          opacity: 1;
          .cover {
            transform: translate3d(0, -105%, 0);
          }
          .img img {
            transform: scale(1);
          }
        }
        .cover {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          content: "";
          background-color: $red;
          transform: translate3d(0, 0, 0);
          transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
          will-change: transform;
          z-index: 1;
        }
        .img {
          position: relative;
          &::before {
            content: "";
            display: block;
            padding-top: 52.22222222222223%;
          }
          span {
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            width: 100% !important;
            height: 100% !important;
          }
          span {
            transform: translate3d(-50%, -50%, 0);
          }
          img {
            transform: scale(1.1);
            will-change: transform;
            transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1) 1s;
          }
          img[data-load="done"] {
            opacity: 1;
          }
        }
      }
      .gallery {
        margin: 0 auto;
        width: 80%;
        max-width: rem(1280);
        border: rem(1) solid $red;
        // .gallery1 {
        //   display: flex;
        // }
        .column {
          // margin-bottom: rem(60);
          &:last-child {
            margin-bottom: 0;
          }
        }
        .img {
          // border: rem(30) solid rgba(200, 16, 46, 0.1);
          overflow: hidden;
          video {
            width: 100%;
          }
        }
      }
    }
    &#contact {
      padding-bottom: rem(120);
      .thank-you {
        margin: rem(50) 0;
        @include fontsize(40);
        // text-align: center;
        line-height: 1.2;
      }
      form {
        margin-top: rem(-141.41);
        div {
          margin-bottom: rem(40);
        }
        label {
          margin-bottom: rem(20);
          display: block;
          @include fontsize(13);
        }
        .error {
          margin-top: rem(10);
          color: red;
          @include fontsize(12);
        }
        input,
        textarea {
          border: rem(1) solid $black;
          width: rem(690);
          @include fontsize(16);
          border: rem(1) solid $red;
          box-sizing: border-box;
          &:focus {
            border: rem(2) solid $red;
            outline: none;
            // outline: solid rem(1) $red;
          }
        }
        input {
          padding: 0 rem(20);
          height: rem(70);
        }
        textarea {
          padding: rem(10) rem(20);
          height: rem(200);
          line-height: (32 / 16);
        }
      }
    }
  }
}
